.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(46, 46, 46, 0.25);
  box-shadow: 5px 5px 15px 5px rgba(46, 46, 46, 0.25);
}
form,
.results {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.global-average {
  color: #9b59b6;
}
