body {
  background: linear-gradient(135deg, #52ecd2, #2ae6c7, #2adce6, #07c7d2);
  background-size: 150% 150%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
